.output{
    background-color: darkgreen;
}

body{
    background-color: darkorange;
}
main{
    padding-left: 1em;
}



label{
    color: darkgreen;
    font-weight: bold;

}

input, select{
    margin-left: 1em;
    margin-top: 0.5em;
}


header,h2 {
    color: aqua;
    text-shadow: 2px 2px 5px #81c784;
}

footer,h2 {
    color: aquamarine;

}


